version: "3.8"

services:
  backend:
    build: .
    container_name: openkindle_backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=Chetna#123
      - DB_NAME=OpenKindle
      - DB_PORT=5432
      - PORT=5000
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:15
    container_name: openkindle_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Chetna#123
      POSTGRES_DB: OpenKindle
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

